<h2 class="content-block" style="text-align: center">Listagem de Quartos</h2>
<div class="content-block">
	<app-toolbar
		(filtrar)="buscaQuartos()"
		(novoCad)="novo()"
		[cad]="false">
	</app-toolbar>

	<dx-load-panel
		#loadPanel
		shadingColor="rgba(0,0,0,0.4)"
		[position]="{ of: '#grid' }"
		[(visible)]="loadingVisible"
		[showIndicator]="true"
		[showPane]="true"
		[shading]="true"
		[hideOnOutsideClick]="false"
	>
	</dx-load-panel>

	<dx-data-grid #grid
				  (onRowDblClick)="editar($event)"
				  (onSelectionChanged)="selecionaQuarto($event)"
				  [columnAutoWidth]="true"
				  [dataSource]="quartos"
				  id="dataGrid"
				  keyExpr="id">

		<dxo-filter-row [visible]="true"></dxo-filter-row>
		<dxo-search-panel [visible]="true" placeholder="Pesquisar"></dxo-search-panel>
		<dxo-load-panel [enabled]="true"></dxo-load-panel>
		<dxo-selection mode="single"></dxo-selection>
		<dxo-paging
			[pageIndex]="0"
			[pageSize]="10">
		</dxo-paging>
		<dxo-pager
			[allowedPageSizes]="[10, 20, 50]"
			[showNavigationButtons]="true"
			[showPageSizeSelector]="true">
		</dxo-pager>

		<dxi-column dataField="id" caption="ID"></dxi-column>
		<dxi-column dataField="nome"></dxi-column>
		<dxi-column cellTemplate="tipoTemplate"
			dataField="tipo"></dxi-column>
		<dxi-column dataField="categoria"></dxi-column>
		<dxi-column dataField="valor" cellTemplate="valorTemplate"></dxi-column>
		<dxi-column cellTemplate="ativoTemplate"
					dataField="ativo">
		</dxi-column>
		<dxi-column dataField="itens" [visible]="false"></dxi-column>
		<dxi-column dataField="imagem" [visible]="false"></dxi-column>

		<!--		TEMPLATES-->
		<div *dxTemplate="let data of 'ativoTemplate'">
			<dx-check-box
				[readOnly]="true"
				[value]="data.data.ativo">
			</dx-check-box>
		</div>
		<div *dxTemplate="let data of 'tipoTemplate'">
			{{data.data.tipo.replace('_', ' ')}}
		</div>
		<div *dxTemplate="let data of 'valorTemplate'">
			{{data.data.valor | currency: 'BRL'}}
		</div>
	</dx-data-grid>
</div>
