<h2 class="content-block" style="text-align: center">Cadastro do Hotel</h2>
<div class="content-block">
	<div class="container-toolbar">
		<dx-button
			(onClick)="salvar()"
			icon="save"
			text="Salvar">
		</dx-button>
		<dx-button
			(onClick)="voltar()"
			icon="close"
			text="Fechar">
		</dx-button>
	</div>

	<div class="dx-card responsive-paddings">
		<div class="container">

			<dx-load-panel
				[(visible)]="iscarregando"
				[hideOnOutsideClick]="false"
				[shading]="true"
				[showIndicator]="true"
				[showPane]="true"
				shadingColor="rgba(0,0,0,0.4)">
			</dx-load-panel>

			<div class="row">
				<dx-text-box
					[(value)]="hotel.nome"
					class="margem"
					label="Nome"
					labelMode="floating"
					width="40rem">
				</dx-text-box>
				<dx-text-box
					[(value)]="hotel.cnpj"
					class="margem"
					label="CNPJ"
					labelMode="floating"
					mask="##.###.###/####-##">
				</dx-text-box>
			</div>
			<div class="row">
				<dx-text-box
					[(value)]="hotel.logradouro"
					class="margem"
					label="Logradouro"
					labelMode="floating"
					width="40rem">
				</dx-text-box>
				<dx-text-box
					[(value)]="hotel.numero"
					class="margem"
					label="Número"
					labelMode="floating">
				</dx-text-box>

			</div>
			<div class="row">

				<dx-select-box
					#estado
					(onSelectionChanged)="defineIdEstado($event)"
					[(value)]="hotel.estado"
					[dataSource]="estados"
					[searchEnabled]="true"
					class="margem"
					displayExpr="ufSigla"
					label="Estado"
					labelMode="floating"
					valueExpr="ufId">
				</dx-select-box>

				<dx-autocomplete
					#cidade
					[(value)]="hotel.cidade"
					[dataSource]="cidades"
					[showClearButton]="true"
					class="margem"
					label="Cidade"
					labelMode="floating"
					width="24rem">
				</dx-autocomplete>

				<dx-text-box
					[(value)]="hotel.pais"
					class="margem"
					label="Pais"
					labelMode="floating">
				</dx-text-box>
			</div>
		</div>
	</div>
</div>
