<div class="content-block">

	<h2 class="content-block" style="text-align: center">Cadastro de Quarto</h2>

	<app-toolbar
		(deletar)="deletaQuarto()"
		(salvar)="salvar()"
		[cad]="true">
	</app-toolbar>

	<div class="dx-card responsive-paddings">
		<div class="container">
			<dx-check-box [(value)]="quarto.ativo"
						  class="margem"
						  text="Ativo">
			</dx-check-box>
			<dx-text-box [(value)]="quarto.nome"
						 class="margem"
						 label="Nome"
						 labelMode="floating">
			</dx-text-box>
			<dx-select-box [(value)]="quarto.tipo"
						   [dataSource]="tiposQuartos"
						   class="margem"
						   displayExpr="text"
						   label="Tipo"
						   labelMode="floating"
						   valueExpr="value">
			</dx-select-box>
			<dx-select-box [(value)]="quarto.categoria"
						   [dataSource]="categorias"
						   class="margem"
						   displayExpr="text"
						   label="Categoria"
						   labelMode="floating"
						   valueExpr="value">
			</dx-select-box>

			<dx-number-box
				[(value)]="quarto.valor"
				class="margem"
				format="R$ #,##0.00"
				label="Valor da Diária"
				labelMode="floating">
			</dx-number-box>
		</div>
		<div class="container">
			<div class="row">
				<dx-text-box
					#itensQuarto
					(onEnterKey)="adicionaItem()"
					class="margem"
					label="Itens do Quarto"
					labelMode="floating"
					width="100%">
				</dx-text-box>
				<dx-button
					(onClick)="adicionaItem()"
					icon="add">
				</dx-button>
			</div>
			<dx-list
				[allowItemDeleting]="true"
				[dataSource]="quarto.itens"
				class="margem"
				selectionMode="single">
				<dxo-item-dragging
					[allowReordering]="true">
				</dxo-item-dragging>
			</dx-list>
		</div>
		<div class="container-foto">
			<div class="dx-card" id="foto">
				<img [src]="quarto.imagemURL"/>
			</div>

			<dx-file-uploader
				(onValueChanged)="handleFileChange($event)"
				[accept]="'image/*'"
				[selectButtonText]="'Selecione a foto'"
				[uploadMode]="'useForm'">
			</dx-file-uploader>
		</div>
	</div>
</div>
