<div class="content-block">

	<h2 class="content-block" style="text-align: center">Listagem de Hospedes</h2>

	<div id="container">

		<app-toolbar
			(filtrar)="buscaHospedes()"
			(novoCad)="direcionaForm()"
			[cad]="false">
		</app-toolbar>

		<dx-load-panel
			#loadPanel
			shadingColor="rgba(0,0,0,0.4)"
			[position]="{ of: '#grid' }"
			[(visible)]="loadingVisible"
			[showIndicator]="true"
			[showPane]="true"
			[shading]="true"
			[hideOnOutsideClick]="false"
		>
		</dx-load-panel>

		<dx-data-grid #grid
					  (onSelectionChanged)="selecionaHospede($event)"
					  (onRowDblClick)="editar($event)"
					  [columnAutoWidth]="true"
					  [dataSource]="hospedes"
					  id="dataGrid"
					  keyExpr="id">

			<dxo-filter-row [visible]="true"></dxo-filter-row>
			<dxo-search-panel [visible]="true" placeholder="Pesquisar"></dxo-search-panel>
			<dxo-load-panel [enabled]="true"></dxo-load-panel>
			<dxo-selection mode="single"></dxo-selection>
			<dxo-paging
				[pageSize]="10"
				[pageIndex]="0">
			</dxo-paging>
			<dxo-pager
				[showPageSizeSelector]="true"
				[allowedPageSizes]="[10, 20, 50]"
				[showNavigationButtons]="true">
			</dxo-pager>

			<dxi-column dataField="id" caption="ID"></dxi-column>
			<dxi-column dataField="nome"></dxi-column>
			<dxi-column
				dataField="nascimento"
				dataType="date"
				format="dd/MM/yyyy">
			</dxi-column>
			<dxi-column cellTemplate="cpfTemplate"
						dataField="cpf"
						caption="CPF">
			</dxi-column>
			<dxi-column cellTemplate="telefoneTemplate"
						dataField="telefone">
			</dxi-column>
			<dxi-column cellTemplate="celularTemplate"
						dataField="celular">
			</dxi-column>
			<dxi-column dataField="email" caption="E-mail"></dxi-column>
			<dxi-column [visible]="false" dataField="observacao"></dxi-column>

			<!--		TEMPLATES-->
			<div *dxTemplate="let data of 'cpfTemplate'">
				{{ cpfFormatado(data.data.cpf) }}
			</div>
			<div *dxTemplate="let data of 'celularTemplate'">
				{{ celularFormatado(data.data.celular) }}
			</div>
			<div *dxTemplate="let data of 'telefoneTemplate'">
				{{ telefoneFormatado(data.data.telefone) }}
			</div>
		</dx-data-grid>

	</div>
</div>
