<div class="content-block">

	<h2 class="content-block">Hospedes</h2>


	<dx-data-grid #grid
				  (onExporting)="exportaGrid($event)"
				  (onSelectionChanged)="selecionaHospede($event)"
				  [columnAutoWidth]="true"
				  [dataSource]="hospedes"
				  id="dataGrid"
				  keyExpr="id"
				  (onSaving)="salvaHospede()"
				  [editing]="editing">

		<dxo-editing>

			<dxo-popup
				[showTitle]="true"
				title="Editar Cadastro do Hospede"
			>
			</dxo-popup>
			<dxo-form>
				<dxi-item itemType="group" [colCount]="2" [colSpan]="2">
					<dxi-item dataField="id"
							  editorType="dxTextBox"
							  [editorOptions]="{readOnly: true, width: '25%', disabled: true}">
					</dxi-item>
					<dxi-item dataField="nome"></dxi-item>
					<dxi-item dataField="nascimento"
							  editorType="dxDateBox"
							  [editorOptions]="{format: 'date', formatString: 'dd/MM/yyyy', useMaskBehavior: true}">
					</dxi-item>
					<dxi-item dataField="cpf"
							  editorType="dxTextBox"
							  [editorOptions]="{mask: '000.000.000-00'}">
					</dxi-item>
					<dxi-item dataField="email"
							  editorType="dxTextBox"
							  [editorOptions]="{mode: 'email'}"></dxi-item>
					<dxi-item dataField="telefone"
							  editorType="dxTextBox"
							  [editorOptions]="{mask: '(00) 0000-0000'}">
					</dxi-item>
					<dxi-item dataField="celular"
							  editorType="dxTextBox"
							  [editorOptions]="{mask: '(00) 00000-0000'}">
					</dxi-item>
					<dxi-item dataField="observacao"></dxi-item>
				</dxi-item>
			</dxo-form>
		</dxo-editing>


		<dxo-filter-row [visible]="true"></dxo-filter-row>
		<dxo-search-panel [visible]="true" placeholder="Pesquisar"></dxo-search-panel>
		<dxo-load-panel [enabled]="true"></dxo-load-panel>
		<dxo-export [enabled]="true" [formats]="['xlsx', 'pdf']"></dxo-export>
		<dxo-selection mode="single"></dxo-selection>
		<dxo-toolbar>
			<!--      Atualiza Grid   -->
			<dxi-item location="after">
				<div *dxTemplate>
					<dx-button (onClick)="atualizaGrid($event)" icon="refresh">
					</dx-button>
				</div>
			</dxi-item>

			<dxi-item name="addRowButton" showText="always"></dxi-item>
			<dxi-item name="exportButton"></dxi-item>
			<dxi-item name="searchPanel"></dxi-item>
		</dxo-toolbar>


		<dxi-column dataField="id" sortOrder="asc"></dxi-column>
		<dxi-column dataField="nome"></dxi-column>
		<dxi-column
			dataField="nascimento"
			dataType="date"
			format="dd/MM/yyyy"
		>
		</dxi-column>
		<dxi-column dataField="cpf"
					cellTemplate="cpfTemplate">
		</dxi-column>
		<dxi-column dataField="telefone"
					cellTemplate="telefoneTemplate">
		</dxi-column>
		<dxi-column dataField="celular"
					cellTemplate="celularTemplate">
		</dxi-column>
		<dxi-column dataField="email"></dxi-column>
		<dxi-column dataField="observacao" [visible]="false"> </dxi-column>

<!--		TEMPLATES-->
		<div *dxTemplate="let data of 'cpfTemplate'">
			{{ cpfFormatado(data.data.cpf) }}
		</div>
		<div *dxTemplate="let data of 'celularTemplate'">
			{{ celularFormatado(data.data.celular) }}
		</div>
		<div *dxTemplate="let data of 'telefoneTemplate'">
			{{ telefoneFormatado(data.data.telefone) }}
		</div>
	</dx-data-grid>

</div>
