<h2 class="content-block">Hospedes</h2>
<div class="content-block">

  <dx-data-grid (onExporting)="exportaGrid($event)"
                (onSelectionChanged)="selecionaHospede($event)"
                [columnAutoWidth]="true"
                [dataSource]="hospedes"
                id="dataGrid"
                keyExpr="id"
  >

    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-search-panel [visible]="true" placeholder="Pesquisar"></dxo-search-panel>
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-export [enabled]="true" [formats]="['xlsx', 'pdf']"></dxo-export>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-toolbar>
      <!--      Atualiza Grid   -->
      <dxi-item location="after">
        <div *dxTemplate>
          <dx-button (onClick)="atualizaGrid($event)" icon="refresh">
          </dx-button>
        </div>
      </dxi-item>

      <!--      Adiciona Hoospede   -->
      <dxi-item location="after">
        <div *dxTemplate>
          <dx-button (onClick)="adicionaHospede($event)" icon="add">
          </dx-button>
        </div>
      </dxi-item>

      <!--      Edita Hoospede   -->
      <dxi-item location="after">
        <div *dxTemplate>
          <dx-button (onClick)="editaHospede($event)" icon="edit">
          </dx-button>
        </div>
      </dxi-item>

      <!--      Deleta Hoospede   -->
      <dxi-item location="after">
        <div *dxTemplate>
          <dx-button (onClick)="deletaHospede($event)" icon="trash">
          </dx-button>
        </div>
      </dxi-item>
      <dxi-item name="exportButton"></dxi-item>
      <dxi-item name="searchPanel"></dxi-item>
    </dxo-toolbar>


    <dxi-column dataField="id" sortOrder="asc"></dxi-column>
    <dxi-column dataField="nome"></dxi-column>
    <dxi-column
      dataField="nascimento"
      dataType="date"
      format="dd/MM/yyyy"
    >
    </dxi-column>
    <dxi-column dataField="cpf"></dxi-column>
    <dxi-column dataField="telefone"></dxi-column>
    <dxi-column dataField="celular"></dxi-column>
    <dxi-column dataField="email"></dxi-column>


  </dx-data-grid>

  <dx-popup [(visible)]="popup"
            [dragEnabled]="true"
            [hideOnOutsideClick]="true"
            [resizeEnabled]="true"
            [showTitle]="true"
            id="popup"
            position="center"
            title="Cadastro de Hospede"
  >

    <dx-scroll-view
      height="100%"
      width="100%">

      <dx-form
        (submit)="salvarHospede($event)"
        [colCount]="2"
        [formData]="novoHospede"
      >
        <dxi-item caption="Dados Pessoais" itemType="group">
          <dxi-item [isRequired]="true" dataField="nome"></dxi-item>
          <dxi-item [isRequired]="true" dataField="cpf"></dxi-item>
          <dxi-item [isRequired]="true" dataField="nascimento"></dxi-item>
        </dxi-item>
        <dxi-item caption="Contato" itemType="group">
          <dxi-item itemType="tabbed">
            <dxi-tab title="Contato">
              <dxi-item dataField="telefone"></dxi-item>
              <dxi-item dataField="celular"></dxi-item>
              <dxi-item dataField="email">
                <dxi-validation-rule type="email">
                </dxi-validation-rule>
              </dxi-item>
            </dxi-tab>
            <dxi-tab title="Observação">
              <dxi-item dataField="observacao"></dxi-item>
            </dxi-tab>
          </dxi-item>

            <dxi-item
              [buttonOptions]="{
              text: 'Salvar',
              type: 'success',
              useSubmitBehavior: true
            }"
              itemType="button">
            </dxi-item>

            <dxi-item
              [buttonOptions]="{
            text: 'Cancelar',
            type: 'danger',
            }"
              itemType="button" (click)="closePopup()">
            </dxi-item>
        </dxi-item>
      </dx-form>

    </dx-scroll-view>

  </dx-popup>

</div>
