<h2 class="content-block" style="text-align: center">Home</h2>
<div class="content-block">

	<dx-load-panel
		shadingColor="rgba(0,0,0,0.4)"
		[position]="{ of: '#main' }"
		[(visible)]="loadingVisible"
		[showIndicator]="true"
		[showPane]="true"
		[shading]="true"
		[hideOnOutsideClick]="false"
	>
	</dx-load-panel>

	<div class="dx-card responsive-paddings" #main>
		<div class="logos-container">
			<h1>Visualização de Quartos</h1>
		</div>

		<div class="quarto" *ngFor="let quarto of quartosAExibir">
			<div class="icone">
				<i class="dx-icon-home"
				   [class.quarto-disponivel]="quarto.reserva === null"
				   [class.quarto-ocupado]="quarto.reserva != null">
				</i>
			</div>
			<div class="info">
				<p>Quarto {{quarto.quarto.nome}}</p>
				<p>{{quarto.reserva === null ? quarto.quarto.tipo.toString().replace('_', ' ') : quarto.reserva.hospedes[0].nome}}</p>
			</div>
		</div>
	</div>
</div>
