* {
	margin: 0;
	padding: 0;
}

.logos-container {
	margin: 20px 0 40px 0;
	text-align: center;
}

#quarto {
	display: inline-block;
	width: 12.5rem;
	height: 9rem;
	margin: 8px;
	padding: 12px 24px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 4px;
	font-size: 16px;
	text-decoration: none;
	text-align: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.3s ease;
}

#quarto:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

#quarto:active {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	transform: translateY(1px);
}

.quarto-ocupado {
	color: #8c6e0b;
	background-color: #fff1ac;
	border-radius: 5px;
	padding: 0.5rem;
	margin: 5px;
}

.quarto-disponivel {
	color: #135718;
	background-color: #a0faa0;
	border-radius: 5px;
	padding: 0.5rem;
	margin: 5px;
}

.icone {
	margin: 5px;
}

.icone i {
	font-size: 2rem;
}

.info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.selecionado {
	background-color: #f0f0f0;
	border: 2px solid #007bff !important;
}

dx-button {
	margin: 5px;
}
