<h2 class="content-block" style="text-align: center">Home</h2>
<div class="content-block">

	<dx-load-panel
		[(visible)]="loadingVisible"
		[hideOnOutsideClick]="false"
		[position]="{ of: '#main' }"
		[shading]="true"
		[showIndicator]="true"
		[showPane]="true"
		shadingColor="rgba(0,0,0,0.4)"
		message="Buscando quartos e reservas ...">
	</dx-load-panel>

	<div #main class="dx-card responsive-paddings">
		<div class="logos-container">
			<h1>Visualização de Quartos</h1>
		</div>

		<div
			(click)="selecionarQuarto(quarto)"
			*ngFor="let quarto of quartosAExibir"
			[class.selecionado]="quarto === quartoSelecionado"
			id="quarto">
			<div class="icone">
				<i [class.quarto-disponivel]="quarto.reserva === null"
				   [class.quarto-ocupado]="quarto.reserva != null"
				   class="dx-icon-home">
				</i>
				<i *ngIf="quarto.reserva?.checkedIn === true" class="dx-icon-check quarto-disponivel"></i>
			</div>
			<div class="info">
				<p>Quarto {{quarto.quarto.nome}}</p>
				<p>{{quarto.reserva === null ? quarto.quarto.tipo.toString().replace('_', ' ') : quarto.reserva.hospedes[0].nome}}</p>
			</div>
		</div>

		<div class="toolbar">
			<dx-button
				(click)="realizarCheckIn()"
				icon="check"
				text="Check-In">
			</dx-button>
			<dx-button
				(click)="realizarCheckOut()"
				icon="download"
				text="Check-Out">
			</dx-button>
			<dx-button
				(click)="gerenciarConsumo()"
				icon="food"
				text="Consumo">
			</dx-button>
		</div>


		<dx-popup
			[(visible)]="checkInPopupVisible"
			[dragEnabled]="false"
			[hideOnOutsideClick]="true"
			[showTitle]="true"
			[width]="660"
			title="Check-In">
			<div *dxTemplate="let data of 'content'">
				<dx-text-box
					[readOnly]="true"
					[value]="quartoSelecionado.quarto.nome"
					label="Quarto"
					labelMode="floating">
				</dx-text-box>
				<ng-container *ngFor="let h of quartoSelecionado.reserva.hospedes">
					<div style="display: flex">
						<dx-text-box
							[readOnly]="true"
							[value]="h.nome"
							label="Hospede"
							labelMode="floating"
							width="80%">
						</dx-text-box>
						<dx-text-box
							[readOnly]="true"
							[value]="cpfFormatado(h.cpf)"
							label="CPF"
							labelMode="floating">
						</dx-text-box>
					</div>
				</ng-container>
				<dx-date-box
					[readOnly]="true"
					[useMaskBehavior]="true"
					[value]="quartoSelecionado.reserva.dataEntrada"
					displayFormat="dd/MM/yyyy HH:mm"
					label="Data Entrada"
					labelMode="floating"
					type="datetime">
				</dx-date-box>
				<dx-date-box
					(valueChange)="defineDataSaida($event)"
					[useMaskBehavior]="true"
					[value]="quartoSelecionado.reserva.dataSaida"
					displayFormat="dd/MM/yyyy HH:mm"
					label="Data Saída"
					labelMode="floating"
					type="datetime">
				</dx-date-box>
				<dx-text-area
					[(value)]="quartoSelecionado.reserva.observacao"
					height="8rem"
					label="Observação"
					labelMode="floating">
				</dx-text-area>

				<div style="display: flex; justify-content: end; position: absolute; bottom: 20px; right: 20px">
					<dx-button
						(click)="confirmarCheckIn()"
						icon="check"
						text="Confirmar Check-In"
						type="success">
					</dx-button>
				</div>
			</div>
		</dx-popup>


	</div>
</div>
