<div #main class="content-block">

	<h2 class="content-block" style="text-align: center">Gerar Nota</h2>

	<dx-load-panel
		[(visible)]="loadingVisible"
		[hideOnOutsideClick]="false"
		[position]="{ of: '#main' }"
		[shading]="true"
		[showIndicator]="true"
		[showPane]="true"
		message="Carregando ..."
		shadingColor="rgba(0,0,0,0.4)">
	</dx-load-panel>

	<app-toolbar
		#toolBar
		(salvar)="salvarNota()"
		[cad]="true">
	</app-toolbar>

	<div class="dx-card responsive-paddings">
		<div style="display: flex">
			<dx-select-box
				#reserva
				(onValueChanged)="limparConsumoGerado()"
				[dataSource]="reservas"
				displayExpr="quarto.nome"
				label="Quarto"
				labelMode="floating"
				style="margin: 5px"
				width="20vw">
			</dx-select-box>
			<dx-button
				(onClick)="calculaConsumo()"
				icon="doc"
				style="margin: 5px"
				text="Gerar">
			</dx-button>
		</div>

		<ng-container *ngIf="gerarVisible">
			<h3 style="text-align: center">Produtos Consumidos</h3>

			<dx-data-grid
				[columnAutoWidth]="true"
				[dataSource]="gridData">


				<dxi-column caption="Data Consumo" dataField="dataConsumo" dataType="datetime"
							format="dd/MM/yyyy HH:mm"></dxi-column>
				<dxi-column caption="Produto" cellTemplate="produtoTemplate" dataField="produto"></dxi-column>
				<dxi-column caption="Quantidade" dataField="quantidade"></dxi-column>
				<dxi-column caption="Valor R$" cellTemplate="valorTemplate" dataField="valor"></dxi-column>
				<!--		TEMPLATES-->
				<div *dxTemplate="let data of 'produtoTemplate'">
					{{data.data.produto.nome}}
				</div>

				<div *dxTemplate="let data of 'valorTemplate'">
					{{data.data.valor | currency: 'BRL'}}
				</div>

				<dxo-summary>
					<dxi-total-item
						column="valor"
						displayFormat="Total: R$ {0}"
						summaryType="sum"
						valueFormat="##,##0.00"
					>
					</dxi-total-item>
				</dxo-summary>
			</dx-data-grid>

			<h3 style="text-align: center">Valor da(s) Diária(s)</h3>

			<dx-data-grid
				[columnAutoWidth]="true"
				[dataSource]="datasDaReserva">

				<dxi-column caption="Estadia" dataField="data" dataType="date" format="dd/MM/yyyy"></dxi-column>
				<dxi-column caption="Valor R$" cellTemplate="valorTemplate" dataField="valor"></dxi-column>
				<!--		TEMPLATES-->
				<div *dxTemplate="let data of 'valorTemplate'">
					{{data.data.valor | currency: 'BRL'}}
				</div>

				<dxo-summary>
					<dxi-total-item
						column="data"
						displayFormat="Total de Dias: {0}"
						summaryType="count"
					>
					</dxi-total-item>

					<dxi-total-item
						column="valor"
						displayFormat="Total: R$ {0}"
						summaryType="sum"
						valueFormat="##,##0.00"
					>
					</dxi-total-item>
				</dxo-summary>

			</dx-data-grid>

			<div style="display: flex; flex-direction: column; align-items: end">
				<dx-radio-group
					#tipoDesconto
					[dataSource]="radioOptions"
					layout="horizontal">
				</dx-radio-group>
				<div>
					<dx-text-box
						[(value)]="valorDesconto"
						label="Desconto"
						labelMode="floating">
					</dx-text-box>
					<dx-button
						(onClick)="aplicaDesconto()"
						icon="money"
						text="Aplicar Desconto">
					</dx-button>
				</div>
			</div>


			<h3 style="text-align: end; font-weight: bolder">Total Geral: {{totalDaNota | currency: 'BRL'}}</h3>

			<h3
				*ngIf="temDesconto"
				style="text-align: end; font-weight: bolder"
			>
				Total Com Desconto: {{totalDaNotaComDesconto | currency: 'BRL'}}
			</h3>

		</ng-container>
	</div>
</div>
