<div #main class="content-block">

	<h2 class="content-block" style="text-align: center">Gerar Nota</h2>

	<dx-load-panel
		[(visible)]="loadingVisible"
		[hideOnOutsideClick]="false"
		[position]="{ of: '#main' }"
		[shading]="true"
		[showIndicator]="true"
		[showPane]="true"
		message="Carregando ..."
		shadingColor="rgba(0,0,0,0.4)">
	</dx-load-panel>

	<app-toolbar
		#toolBar
		(salvar)="salvarNota()"
		[cad]="true">
	</app-toolbar>

	<div class="dx-card responsive-paddings">
		<div style="display: flex">
			<dx-select-box
				#reserva
				[dataSource]="reservas"
				displayExpr="quarto.nome"
				style="margin: 5px"
				label="Quarto"
				labelMode="floating"
				width="20vw">
			</dx-select-box>
			<dx-button
				(onClick)="calculaConsumo()"
				style="margin: 5px"
				text="Gerar"
				icon="doc">
			</dx-button>
		</div>

		<dx-data-grid
			(onSelectionChanged)="selecionaProduto($event)"
			[columnAutoWidth]="true"
			[dataSource]="gridData">


			<dxi-column caption="Data Consumo" dataField="dataConsumo" dataType="datetime" format="dd/MM/yyyy HH:mm"></dxi-column>
			<dxi-column caption="Produto" cellTemplate="produtoTemplate" dataField="produto"></dxi-column>
			<dxi-column caption="Quantidade" dataField="quantidade"></dxi-column>
			<dxi-column caption="Valor R$" cellTemplate="valorTemplate" name="valorTemplate"></dxi-column>
			<!--		TEMPLATES-->
			<div *dxTemplate="let data of 'produtoTemplate'">
				{{data.data.produto.nome}}
			</div>

			<div *dxTemplate="let data of 'valorTemplate'">
				{{data.data.produto.preco * data.data.quantidade | currency: 'BRL'}}
			</div>


			<dxo-summary>
				<dxi-total-item
					column="valorTemplate"
					summaryType="sum"
					valueFormat="currency"
				>
				</dxi-total-item>
			</dxo-summary>
		</dx-data-grid>

	</div>
</div>
